<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptoms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a6d27a9f7c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <style>
        .jumbotron{
            background-color: rgba(255, 255, 0,0.9);
            font-family: 'Sriracha', cursive;
            font-size: x-large;
            margin-top: 3%;
            border: 5px double saddlebrown;
        }
        #data{
            list-style-type:square;
            color:black ;
        }
        p{
            color: black;
        }
        #navba{
            list-style-type: none;
            font-size: xx-large;
            text-align: center;
            font-weight: 700;
        }
        #heading{
            font-size: xx-large;;
            font-weight: 900;
        }
        h1{
            color: saddlebrown;
            font-weight: 900;
        }
    </style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/search" id="heading">COVID STATS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
                <li class="nav-item active" id="navba">
                    <a class="nav-link" href="/symptoms">Symptoms</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active" id="navba">
                    <a class="nav-link" href="/helpline-numbers">Help-Line Numbers</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active" id="navba" >
                    <a class="nav-link" href="/search"><i class="fas fa-search"></i> Search Again</a>
                </li>

            </ul>
        </div>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/users/logout">logout</a>
        </nav>
        
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1><%=parsedData['symptoms'][0]['title']%></h1>
            <p><%=parsedData['symptoms'][0]['details']%></p>
            <br>
            <h1><%=parsedData['symptoms'][1]['title']%></h1>
            <p><%=parsedData['symptoms'][1]['details']%>
            <li id="data"><%=parsedData['symptoms'][1]['list'][0]%></li>
            <li id="data"><%=parsedData['symptoms'][1]['list'][1]%></li>
            <li id="data"><%=parsedData['symptoms'][1]['list'][2]%></li>
            <li id="data"><%=parsedData['symptoms'][1]['list'][3]%></li></p>
            <br>
            <h1><%=parsedData['symptoms'][2]['title']%></h1>
            <p><%=parsedData['symptoms'][2]['details']%>
                <li id="data"><%=parsedData['symptoms'][2]['list'][0]%></li>
                <li id="data"><%=parsedData['symptoms'][2]['list'][1]%></li>
                <li id="data"><%=parsedData['symptoms'][2]['list'][2]%></li>
                <li id="data"><%=parsedData['symptoms'][2]['list'][3]%></li>
            </p>
            <br>
            <h1><%=parsedData['symptoms'][3]['title']%></h1>
            <p><%=parsedData['symptoms'][3]['details']%>
                <li id="data"><%=parsedData['symptoms'][3]['list'][0]%></li>
                <li id="data"><%=parsedData['symptoms'][3]['list'][1]%></li>
                <li id="data"><%=parsedData['symptoms'][3]['list'][2]%></li>
            </p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>